.mainNavigation {
	width: 100%;
	height: 4.5rem;
	background-color: #ede9fe;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
}
.mainNavigation nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 1170px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.mainNavigation ul {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}


.mainNavigation a {
	text-decoration: none;
	margin: .5rem 1rem;
	display: block;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	align-items: center;	

}
.mainNavigation a:hover,
.activeLink {
	color: #6d28d9;
}
.testL {
	display: flex;
	align-items: center;
	position: relative;
}
.mainNavigation span {
	background-color: #6d28d9;
	color: #fff;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	font-size: 12px;
	position: absolute;
	top: 1px;
	right: 8px;
}
.mainNavigation a img {
	width: 75px;
	height: auto;
}

@media (max-width:768px){
	.mainNavigation {
		height: 4rem;
	}
.mainNavigation a {
	font-size: 16px;
}
.mainNavigation a img {
	width: 60px;
}

}